form#form-login{
    border-radius:30px;
    padding: 20px;
    animation: test 1s ;
    scale: 1;
    max-width: 300px;
    width: 100%;
    background: purple;
    border-radius: '20px';
    padding: '20px' ;
    border:' 1px solid rgba(255, 255, 255, 0.41)';
    color:white;
}   
.form-label{
    color: white;
}
@keyframes test {
    from{
        transform: scale(0);
    }to{
        transform: scale(1);
    }
    
}
.icon-lock {
   
    font-size: 50px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
   
    
    
}
