.loading-container {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;

  }
  
  .loading-animation {
    display: flex;
    align-items: center;
  }
  
  .loading-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 0.5s ease-in-out infinite alternate, colorChange 8s linear infinite; /* Menggabungkan kedua animasi */
  }
  
  .loading-dot:nth-child(2) {
    animation-delay: 0.2s; /* Memberi jeda pada animasi untuk dot kedua */
  }
  
  .loading-dot:nth-child(3) {
    animation-delay: 0.4s; /* Memberi jeda pada animasi untuk dot ketiga */
  }
  
  @keyframes colorChange {
    0%, 25% {
      background-color: purple; /* Mulai dengan warna biru */
    }
    50%, 75% {
      background-color: orange; /* Berubah menjadi warna merah */
    }
    100%, 0% {
      background-color: green; /* Akhirnya menjadi warna hijau */
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Mulai dari posisi awal */
    }
    100% {
      transform: translateY(-20px); /* Pindah ke atas */
    }
  }
  
  
.img-flip {
    animation: flip 5s ease infinite; /* Animasi flip */
}

@keyframes flip {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(-1, 1);
    }
    100% {
        transform: scale(1);
    }
}