

.form-comp{
    width: 100%;
    height: 120px;
}
.form-container{
    
    left: 5%;
    right: 5%;
     
}
.form{
    padding-bottom:10%;
}

@media only screen and (max-width: 600px) {
    .form-pasien {
        margin-top: 10%;
        padding-top:10%;
    }
  }