.containers{
    top:0;
    align-items: center;
    justify-content: center;
    padding: 80px 10px 10px 10px;
    min-height: 1000px;
    background-size: 300px,cover;
    background-image:url('../logo/tooth.png'),url('../logo/bg.jpg');
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    color: white;
   

    
}

button.btn-modals{
  float: right;
  margin: 10px;
}
/* .bg{
    background-image: url('../logo/tooth.png'),url('../logo/bg.jpg');
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size: 100px 100px,cover;
    bottom:0;
   
   
} */

@media print {
    .containers {
      image-resolution: from-image 300dpi;
    }
  }
.container-datap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: timbul 1s ;
    scale: 1;
}
.card-pas{
        color: white;
        border-radius: 2%;
        border: 6px solid white;
        border-image-slice: 1;
        background-image: linear-gradient(170deg, purple, pink);
      
}
.border-purple {
    border-image-source: linear-gradient(180deg, purple, white);
  }
.card-pas:hover{
    cursor: pointer;
}
@keyframes timbul {
 from{
    scale: 0;
 }
 to{
    scale: 1;
 }
}



@media only screen and (max-width: 600px) {
    .data-pasien {
        margin-top: 5%;
        padding-top:10%;
    }
  }